[Unit]
Description=Update capslock LED on builtin keyboard to correct state on my thinkpad L14.
ConditionEnvironment=BLACKDESK_IS_THINKPAD_L14_GEN2

[Service]
Type=simple
ExecStart=/opt/io.github.black-desk/tpl14-debian-tweak/scripts/fix-led.sh

[Install]
WantedBy=default.target
