# vim: ft=systemd

[Unit]
Description=A rule-based tunnel in Go.
After=network.target NetworkManager.service systemd-networkd.service iwd.service

[Service]
ProtectHome=true
ProtectSystem=full
PrivateTmp=true
ProtectKernelTunables=true
ProtectControlGroups=true

NoNewPrivileges=true
MemoryDenyWriteExecute=true

StateDirectory=io.github.black-desk.debian-tweak.clash-meta

ConfigurationDirectory=io.github.black-desk.debian-tweak.clash-meta
ConfigurationDirectoryMode=0555

ExecStartPre=-cp -n /opt/io.github.black-desk.debian-tweak/share/clash-meta/Country.mmdb ${STATE_DIRECTORY}/Country.mmdb
ExecStart=/opt/io.github.black-desk.debian-tweak/bin/clash-meta -d $STATE_DIRECTORY -f ${CONFIGURATION_DIRECTORY}/config.yaml

[Install]
WantedBy=multi-user.target
